@charset "UTF-8";

@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("http://fonts.googleapis.com/css?family=Montserrat:400,700");

// @import url("http://fonts.googleapis.com/css?family=Roboto+Slab|Open+Sans:400italic,700italic,400,700");
// $roboto-font-path: "~materialize-sass-origin/font/roboto/";
$icons-font-path: "https://fonts.googleapis.com/icon?family=Material+Icons";

$h1-fontsize: 42px !default;
$h2-fontsize: 36px !default;
$h3-fontsize: 24px !default;
$h4-fontsize: 20px !default;
$h5-fontsize: 18px !default;
$link-color: #1abc9c !default;

// Mixins
@import "~materialize-sass-origin/sass/components/prefixer";
@import "~materialize-sass-origin/sass/components/mixins";
@import "~materialize-sass-origin/sass/components/color";

// Variables;
@import "~materialize-sass-origin/sass/components/variables";

// Reset
@import "~materialize-sass-origin/sass/components/normalize";

// Components
@import "~materialize-sass-origin/sass/components/global";
@import "~materialize-sass-origin/sass/components/grid";
@import "~materialize-sass-origin/sass/components/navbar";
@import "~materialize-sass-origin/sass/components/typography";
@import "~materialize-sass-origin/sass/components/cards";
@import "~materialize-sass-origin/sass/components/toast";
@import "~materialize-sass-origin/sass/components/tabs";
@import "~materialize-sass-origin/sass/components/tooltip";
@import "~materialize-sass-origin/sass/components/buttons";
@import "~materialize-sass-origin/sass/components/dropdown";
@import "~materialize-sass-origin/sass/components/waves";
@import "~materialize-sass-origin/sass/components/modal";
@import "~materialize-sass-origin/sass/components/collapsible";
@import "~materialize-sass-origin/sass/components/chips";
@import "~materialize-sass-origin/sass/components/materialbox";
@import "~materialize-sass-origin/sass/components/form";
@import "~materialize-sass-origin/sass/components/table_of_contents";
@import "~materialize-sass-origin/sass/components/sideNav";
@import "~materialize-sass-origin/sass/components/preloader";
@import "~materialize-sass-origin/sass/components/slider";
@import "~materialize-sass-origin/sass/components/carousel";
@import "~materialize-sass-origin/sass/components/date_picker/_default.scss";
@import "~materialize-sass-origin/sass/components/date_picker/_default.date.scss";
@import "~materialize-sass-origin/sass/components/date_picker/_default.time.scss";

body {
   display: flex;
   min-height: 100vh;
   flex-direction: column;
   font-family: 'Montserrat', sans-serif;
   font-weight: normal;
   font-style: normal;
   font-size: 14px;
   -webkit-font-smoothing: antialiased;
   -webkit-overflow-scrolling: touch;
 }

main {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;

  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
}

nav {
  background: color("teal", "lighten-1");
}

// Light grey
// nav {
//   background: color("grey", "lighten-5");
// }
//
// nav ul a {
//   color: #333;
// }
//
// nav ul a > i {
//   color: #333;
// }

footer.page-footer {
  margin-top: 0;
  background-color: #212121;
}

.full-width {
 width: 100%;
}

.prefix.valign {
 top: 8px;
}
