@import "~materialize-sass-origin/sass/components/color";

// @import url("https://fonts.googleapis.com/icon?family=Material+Icons");
// @import url("http://fonts.googleapis.com/css?family=Montserrat:400,700");
// @import url("http://fonts.googleapis.com/css?family=Roboto:400italic,700italic,400,700");
$roboto-font-path: "http://fonts.googleapis.com/css?family=Roboto";
$icons-font-path: "https://fonts.googleapis.com/icon?family=Material+Icons";

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src:
    local('Material Icons'),
    local('MaterialIcons-Regular'),
    url("https://fonts.gstatic.com/s/materialicons/v10/2fcrYFNaTjcS6g4U3t-Y5UEw0lE80llgEseQY3FEmqw.woff2")
    format('woff2');
}

$primary-color: color("materialize-red", "lighten-2") !default;
$primary-color-light: false !default;
$primary-color-dark: false !default;
$secondary-color: color("teal", "lighten-1") !default;
$success-color: color("green", "base") !default;
$error-color: color("red", "base") !default;
$link-color: #1abc9c !default;

$h1-fontsize: 42px !default;
$h2-fontsize: 36px !default;
$h3-fontsize: 24px !default;
$h4-fontsize: 20px !default;
$h5-fontsize: 18px !default;
